.uppercase {
  text-transform: uppercase;
}
.promo {
  position: relative;
  background-image:
    url("../../../public/img/bg_promo.png"),
    linear-gradient(to top left, #9796F0, #FBC7D4);
  background-repeat: no-repeat, no-repeat;
  background-position: 77% 100%, 0;
  background-size: 37%, 100%;
  padding-bottom: 87px;
  border-bottom-right-radius: 50% 10%;
}

@media (min-width: 2000px) {
  .promo {
    background-size: 700px, 100%;
  }
}
@media (max-width: 600px) {
  .promo {
    background-image:
      url("../../../public/img/bg_promo_small.png"),
      linear-gradient(to top left, #9796F0, #FBC7D4);
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .promo {
    padding-bottom: 0;
    margin-bottom: 220px;
  }
  .promo .container {
    position: relative;
  }
}
@media (max-width: 1370px) {
  .promo {
    background-position-x: 100%;
    background-size: 600px, 100%;
  }
}
@media (max-width: 1070px) {
  .promo {
    background-position-x: 100%;
    background-size: 450px, 100%;
  }
}
.section__title {
  font-weight: bold;
  font-size: 2em;
}
.promo__large-text {
  font-weight: bold;
  font-size: 3em;
  text-transform: uppercase;
  max-width: 50%;
  margin-bottom: 20px;
}
@media (max-width: 480px) {
  .promo__large-text {
    font-size: 1.5em;
    max-width: initial;
  }
}
@media (max-width: 768px) {
  .promo__large-text {
    max-width: 75%;
  }
}
.promo__under-large {
  max-width: 50%;
  margin-bottom: 30px;
  font-size: 1.3em;
}
.promo__features {
  display: flex;
  align-items: end;
}
@media (max-width: 768px) {
  .promo__features {
    position: absolute;
    bottom: -50%;
  }
}
@media (max-width: 600px) {
  .promo__features {
    flex-direction: column;
    position: initial;
    align-items: flex-start;
  }
}
.promo__feature {
  font-size: 1.2em;
  padding-top: 130px;
  position: relative;
  width: 186px;
  text-align: center;
}
.promo__feature::before {
  content: '';
  width: 100px;
  height: 100px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  background: url("../../../public/img/promo-circle.svg") no-repeat;
}
.sets {
  background-color: #EEF1F6;
  background-image: url("../../../public/img/promo_sets.png");
  background-repeat: no-repeat;
  background-position: 75% 0;
  background-size: contain;
  padding: 75px 0;
  border-top-left-radius: 14% 8%;
  border-bottom-right-radius: 14% 6%;
}
@media (max-width: 1000px) {
  .sets {
    background-position: 150% 0;
  }
}
@media (max-width: 850px) {
  .sets {
    background-image: none;
  }
}
.sets *~.section__title,
.sets__description {
  max-width: 50%;
  margin-bottom: 2em;
}
@media (max-width: 1000px) {
  .sets *~.section__title,
  .sets__description {
    max-width: 70%;
  }
}
@media (max-width: 850px) {
  .sets *~.section__title,
  .sets__description {
    max-width: 100%;
  }
}
.sets__link {
  padding: 10px 35px;
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 20px;
}
.merch .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 768px) {
  .merch .container {
    grid-template-columns: 1fr;
  }
}
.merch-slider {
  display: flex;
  flex-wrap: wrap;
}
.merch-slider__element {
  width: 110px;
  height: 110px;
}
.merch-slider__image {
  width: 100%;
}
.merch__image {
  width: 100%;
}
.merch__description {
  width: 50%;
  margin-bottom: 60px;
}
.contact-us {
  padding: 40px 0;
  border-top-right-radius: 14% 8%;
  border-bottom-left-radius: 14% 6%;
  background-image: linear-gradient(to bottom right, #9796F0, #FBC7D4);
  background-repeat: no-repeat;
  background-position: 75% 20%;
  background-size: contain;
}
.contact-us .container {
  position: relative;
}
.merch-form__text {
  width: 50%;
  margin-bottom: 30px;
}
.merch__background {
  position: absolute;
  right: 0;
  top: 0;
  width: 500px;
  height: auto;
}
.merch-form__inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .merch-form__inputs {
    flex-direction: column;
    row-gap: 30px;
  }
}
.merch-form__label {
  min-width: 22%;
}
.merch-form__input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #808080;
  background-color: transparent;
}
.merch-form__input:focus {
  outline: 2px dashed #808080;
  border: none;
}
.partners {
  padding: 50px 0;
}
.partners-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .partners__image {
    max-width: 150px;
  }
}
@media (max-width: 600px) {
  .partners__image {
    max-width: 100px;
  }
}
.footer {
  background-color: #EAE6EF;
}
.background-curve {
  width: 100%;
  height: auto;
  margin-top: -6px;
}
.footer__layout {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.footer__contact-form {
  max-width: 285px;
  position: relative;
}
.footer__phone {
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: bold;
}
.footer__email {
  text-decoration: underline;
}
.footer__contact-input {
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  width: 100%;
}
.footer__submit-button {
  position: absolute;
  right: 6px;
  top: 6px;
  background-color: #524983;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  border: none;
  background-image: url("../../../public/img/arrow_right.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
