@import '~antd/dist/antd.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 20px;
}
.return-button {
  display: block;
  margin: 0 auto;
}
.posts,
.users {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  text-transform: capitalize;
}
.card {
  display: flex;
  flex-direction: column;
  transition: .3s;
}
.post__text {
  flex-grow: 1;
}
.post__user-id {
  font-size: 0.9em;
  color: #2c2c2c;
}
.comments {
  max-width: 800px;
  margin: 0 auto;
}
.comments__title {
  text-align: center;
}
.nickname {
  text-transform: capitalize;
  font-weight: 500;
}
.comment {
  padding: 20px;
  margin-bottom: 10px;
  transition: .3s;
}
.card:hover,
.comment:hover {
  box-shadow: 0 0 6px 0 #d1d1d1;
  transition: .3s;
}
.users {
  margin-bottom: 20px;
}
.user-info {
  max-width: 350px;
  margin: 0 auto;
}
.comment-form {
  max-width: 500px;
  margin: 0 auto;
}
.comment-form__title {
  text-align: center;
}
.id-info {
  color: #2c2c2c;
  margin-right: 20px;
  font-size: 0.8em;
}
.green-button {
  background-color: #1FAB8A;
  min-width: 180px;
  width: 280px;
  border: none;
  border-radius: 30px;
  color: #FFFFFF;
  padding: 15px 0;
  text-align: center;
  box-shadow: 3px 3px 8px 0px #000000;
  transition: background-color .2s, box-shadow .1s;
}
.green-button:focus-visible {
  outline: 2px dashed #808080;
  border: none;
}
.green-button:hover {
  background-color: #19886F;
  transition: background-color .2s, box-shadow .1s;
}
.green-button:active {
  box-shadow: none;
}
.ant-carousel .slick-dots-bottom {
  bottom: -23px;
}
.ant-carousel .slick-dots li.slick-active button {
  background: #808080;
  opacity: 1;
}
.ant-carousel .slick-dots li button {
  background: #b0b0b0;
  opacity: 1;
}
