.header__links {
  display: flex;
}

.header__link {
  margin-right: 20px;
}

.header__link--disabled {
  color: rgba(0, 0, 0, 0.5);
}

.header__link--right {
  flex-grow: 1;
  text-align: right;
}

.active {
  color: tomato;
}
